#mu-call-to-action {
	float: left;
	//margin: 120px 0;
    position: relative;
    width: 100%;
}

#mu-call-to-action:before {
	background: $strong-blue-2;
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.mu-call-to-action-area {
	display: inline;
	float: left;
	padding: 30px 0;
    text-align: center;
    width: 100%;
}

.mu-call-to-action-left {
	color: $white;
	display: inline;
	max-width: 70%;
}

.mu-call-to-action-left h2 {
	font-size: 24px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.mu-call-to-action-left p {
	margin-bottom: 0;
}

.mu-quote-btn {
	background-color: $white;
	color: $strong-blue-2;
    margin: 20px 0 0 0;
    padding: 10px 40px;
    i {
        &::before {
            padding: 0 0 0 10px;
        }
    }
}

.mu-quote-btn:hover,
.mu-quote-btn:focus {
	color: $strong-blue-2;
}
