.contact-part {
	float: left;
	margin: 45px 0;
	width: 100%;
}

.mb-30 {
	margin-bottom: 30px;
}

.mt-20 {
	margin-top: 20px;
}

.title-part-contact {
	color: #1da1f2;
}

.titles-input {
	color: #1da1f2;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 7px;
}

.inputs-fields {
	background-color: #e8ecef;
	margin-bottom: 30px;
}

.btn-contact-form-send {
	background-color: #1da1f2;
  border: 0;
  border-radius: 10px;
  color: #fff;
}

form .btn-contact-form-send {
	height: 36px;
	width: 100%;
}

.contact-map {
	height: 200px;
	margin-bottom: 20px;
	margin-top: 70px;
	overflow: hidden;
}

.img-contact-us-title {
	background: #ededec;
	display: flex;
	flex-direction: column;
	height: 53px;
	justify-content: center;
	margin: auto;
	text-align: center;
	width: 53px;
}

.icon-letter-call-home {
	color: #1da1f2;
	font-size: 21px;
}

.self-d-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.map-label {
  font-size: 14px;
  font-weight: bold;
}
