.mu-footer {
	background-color: $white;
	display: inline;
	float: left;
	margin-top: 70px;
	width: 100%;
}

.mu-footer-top {
	background-color: $strong-blue-2;
	display: inline;
	float: left;
	padding: 55px 0;
	width: 100%;
}

.mu-single-footer {
	color: $white;
	display: inline;
	float: left;
	font-size: 14px;
	width: 100%;
}

.mu-footer-logo {
	margin-bottom: 25px;
	width: 110px;
}

.mu-single-footer h3 {
	color: $white;
	font-size: 17px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.mu-single-footer ul li {
	border-bottom: 1px solid $strong-blue-1;
	font-size: 14px;
	list-style: none;
	margin-bottom: 10px;
	padding-bottom: 12px;
}

.mu-single-footer ul li:last-child {
	border-bottom: 0;
}

.mu-single-footer ul li a {
	color: $white;
}

.mu-single-footer .list-unstyled li .media span {
	margin-right: 10px;
}

.mu-single-footer .list-unstyled li .media p {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 4px;
	margin-top: -5px;
}

.mu-single-footer .list-unstyled li .media a {
	font-size: 12px;
}

.mu-footer-bottom {
	background-color: $strong-blue-5;
	display: inline;
	float: left;
	padding: 20px 0;
	width: 100%;
}

.mu-footer-bottom-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-social-media {
	border-top: 1px solid $strong-blue-1;
	display: inline;
	float: left;
	padding-top: 12px;
	width: 100%;
}

.mu-social-media a {
	background-color: $strong-blue-3;
	border: 1px solid $azureish-gray;
	border-radius: 50%;
	color: $white;
	display: inline-block;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	margin-right: 6px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease-in-out 0s;
	width: 40px;
}

.mu-social-media a.mu-twitter {
	background-color: $light-blue;
}

.mu-social-media a.mu-google-plus {
	background-color: $vivid-scarlet;
}

.mu-social-media a.mu-pinterest {
	background-color: $strong-amaranth;
}

.mu-social-media a.mu-youtube {
	background-color: $vivid-red;
}

.mu-social-media a:hover,
.mu-social-media a:focus {
	border-color: $azureish-gray;
	color: $white;
}

.mu-copy-right {
	color: $white;
	font-size: 14px;
	margin-bottom: 0;
}

.mu-copy-right a {
	-webkit-transition: all 0.5s;
	color: $white;
	font-weight: 600;
	transition: all 0.5s;
}

.media  {
	.icon {
		margin-top: 5px;
	}
}

.vacancies-list-footer {
	padding: 0;
	.media {
		margin: 0;
	}
}

.mu-useful-links {
	li {
		span {
			margin-right: 10px;
		}
	}
}
