.mu-hero {
  background-color: $pure-blue;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
	z-index: 100;
}

.mu-logo-area {
	display: inline;
	float: left;
	width: 50%;
}

.mu-navbar .mu-logo {
	color: $white;
	font-size: 36px;
	font-weight: 600;
}

.mu-logo span {
	display: inline-block;
}

.mu-logo img {
	margin-top: -5px;
	width: 110px;
}

.mu-navbar .mu-logo:hover,
.mu-navbar .mu-logo:focus {
	color: $white;
}

.mu-scrolldown-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-scrolldown {
	color: $white;
	display: inline-block;
	font-size: 40px;
	margin-top: 50px;
}

.mu-scrolldown:hover,
.mu-scrolldown:focus {
	color: $white;
}

.mu-navbar {
	height: 82px;
	padding: 5px 0;
}

.mu-navbar-nav {
	background: $pure-blue;
	display: block;
	text-align: center;
	width: 100%;
}

.mu-navbar-nav li {
	display: inline-block;
	list-style: none;
	margin-right: 5px;
}

.mu-navbar-nav li a {
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	border-radius: 15px;
	color: $bluish-white;
	display: block;
	font-size: 12px;
	font-weight: 700;
	padding: 8px 16px;
	text-transform: uppercase;
	transition: all 0.5s;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: $white;
}

.mu-navbar-nav li.active a,
.mu-navbar-nav li a:hover,
.mu-navbar-nav li a:focus {
	background-color: $white;
	color: $pure-blue;
}

.mu-navbar-nav .dropdown-menu {
	left: auto;
	right: 0;
}

.mu-navbar-nav li .dropdown-menu a {
	color: $gray-dark-3;
	padding: 6px 15px;
}

.mu-navbar-nav li .dropdown-menu a:hover,
.mu-navbar-nav li .dropdown-menu a:focus {
	color: $pure-blue;
}

.last-nav-item {
  margin-left: 5%;
  .nav-numbers-block {
		display: block;
		a{
			display: inline-block;
			padding: 0;
			&:hover,&:focus {
				background: none;
				color: $white;
			}
		}
		.numbers {
			display: inline;
		}
	}
	.nav-addresses-block {
		display: block;
		.addresses {
			display: inline;
		}
	}
}

.nav-item {
  vertical-align: middle;
}
