@each $size in (0, 1, 2, 3, 10, 15, 17, 20, 25, 30, 40, 50, 80, 100, 120) {
  @each $prop in (t: top, b: bottom, l: left, r: right) {
    .m#{nth($prop, 1)}-#{$size} {
      margin-#{nth($prop, 2)}: #{$size}px ;
    }
  }
}

@each $size in (11, 13, 16, 18, 20, 25, 30, 50) {
  .fs-#{$size} {
    font-size: #{$size}px ;
  }
}

@each $size in (20) {
  .w-#{$size} {
    width: #{$size}px ;
  }
}

.opacity-07 {
  opacity: 0.7;
}

.fs-07r {
  font-size: 0.7rem;
}

.w-70p {
  width: 70%;
}

.w-55p {
  width: 55%;
}

.w-80p {
  width: 80%;
}

.color-strong-blue-2 {
  color: $strong-blue-2 !important;
}

.inline-block {
  display: inline-block;
}

.bgc-white{
  background-color: $white !important;
}

.c-black {
  color: $black;
}

.c-white {
  color: $white;
}

.bgc-strong-blue-2 {
  background-color: $strong-blue-2;
}

.padding-0 {
  padding: 0;
}

.padding-30 {
  padding: 30px;
}

.w-100 {
  width: 100%;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Pacifico-Regular.ttf')format('truetype');
}
@font-face {
  font-family: 'Intro';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/NewBaskervilleC Bold.ttf')format('truetype');
}
