@each $size in (0, 1, 2, 3, 10, 15, 17, 25, 30, 50, 100, 120) {
  @each $prop in (t: top, b: bottom, l: left, r: right) {
    .m#{nth($prop, 1)}-#{$size} {
      margin-#{nth($prop, 2)}: #{$size}px ;
    }
  }
}

@each $size in (11, 13, 16, 18, 20, 25, 30, 50) {
  .fs-#{$size} {
    font-size: #{$size}px ;
  }
}

.color-strong-blue-2 {
  color: $strong-blue-2;
}

.inline-block {
  display: inline-block;
}

.c-black {
  color: $black;
}

.c-white {
  color: $white;
}

.padding-0 {
  padding: 0;
}

.padding-30 {
  padding: 30px;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Pacifico-Regular.ttf')format('truetype');
}
@font-face {
  font-family: 'Intro';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/NewBaskervilleC Bold.ttf')format('truetype');
}
