@media (max-width: 1400px) {
	.ReactModal__Content {
		max-width: 500px;
		min-width: 500px;
	}
}
	@media (max-width: 1199px) {

	.mu-single-slide-content-area {
		padding: 6% 10%;
	}

	.mu-about-right {
		padding-left: 0;
	}

	.mu-quote-btn {
		margin-top: 15px;
		padding: 15px 45px;
	}

	.mu-about-right ul li {
		margin-bottom: 10px;
	}

	.mu-single-service-icon {
		margin-right: 0;
	}

	.mu-single-service-content {
		margin-left: 15px;
		width: 78%;
	}

	.mu-video-close-btn {
		right: 20px;
	}

	.mu-video-right {
		padding-left: 25px;
		padding-right: 15%;
	}

	.mu-testimonial-slide .slick-prev {
		left: -20px;
	}

	.mu-testimonial-slide .slick-next {
		right: -20px;
	}

	.mu-clients-single {
		padding: 5px;
	}

	.mu-social-media a {
		font-size: 15px;
		height: 35px;
		line-height: 35px;
		margin-right: 3px;
		width: 35px;
	}

	.mu-single-team-img {
		width: 26%;
	}

	.mu-single-team-content {
		padding: 10px 10px;
		width: 74%;
	}

	.mu-single-team-content span {
		margin-bottom: 0;
	}

	.mu-single-team-content p {
		font-size: 12px;
	}

	.mu-sidebar-subscribe-widget .mu-subscribe-form input {
		padding: 0 135px 0 15px;
	}

	.mu-sidebar-subscribe-widget .mu-subscribe-btn {
		font-size: 16px;
		width: 125px;
	}

	.mu-error-area .mu-title {
		padding: 0 15%;
	}

	.mu-error-content {
		padding: 0 10%;
	}


}

@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
      top: 100%;
   }
}

@media (max-width: 991px) {

	.mu-navbar-nav {
		display: flex;
		margin-top: 10px;
		text-align: left;
		width: 100%;
	}

	.mu-navbar-nav li {
		margin-bottom: 10px;
	}

	.mu-navbar .navbar-toggler {
		border-color: $white;
		color: $white;
		cursor: pointer;
		padding: 10px 15px;
	}

	.mu-single-slide-content-area {
		padding: 6% 10%;
	}

	.mu-single-slide-content h1 {
		font-size: 35px;
		margin-bottom: 20px;
	}

	.mu-primary-btn {
		padding: 15px 40px;
	}

	.mu-single-slide-content a {
		margin-top: 15px;
	}

	.mu-title {
		padding: 0 10%;
	}

	.mu-call-to-action-left {
		max-width: 65%;
	}

	.mu-single-service-content {
		margin-left: 10px;
		width: 70%;
	}

	.mu-video-iframe-area {
		padding: 12% 5%;
	}

	.mu-video-iframe-area iframe {
		width: 100%;
	}

	.mu-video-close-btn {
		right: 20px;
		top: -40px;
	}

	.mu-video-right {
		padding-left: 15px;
		padding-right: 5%;
	}

	.mu-single-counter span {
		padding: 20px 10px;
	}

	.mu-single-counter-content {
		padding-left: 10px;
		padding-top: 15px;
	}

	.counter-value {
		font-size: 25px;
	}

	.mu-counter-name {
		font-size: 16px;
	}

	.mu-filter-item-content {
		padding-top: 22%;
	}

	.mu-pricing-table > li {
		margin: 0 10px;
		width: 29%;
	}

	.mu-pricing-single-content ul li {
		padding: 0 5px;
	}

	.mu-pricing-single-title h3 {
		font-size: 20px;
	}

	.mu-single-pricebox h4 {
		font-size: 25px;
	}

	.mu-buy-now-btn,
	.mu-standard-pricing .mu-buy-now-btn {
		font-size: 16px;
		padding: 8px 25px;
	}

	.mu-standard-pricing .mu-pricing-single {
		padding: 20px 20px;
	}

	.mu-testimonials-area {
		padding: 100px 0 125px;
	}

	.mu-blog-item-content {
		padding: 15px 15px;
	}

	.mu-newsletter-content {
		padding: 0 20%;
	}

	.mu-social-media a {
		margin-bottom: 10px;
	}

	.mu-clients-area {
		padding: 50px 0;
	}

	#mu-skills {
		background-position: inherit;
	}

	.mu-contact-content {
		padding: 0 22%;
	}

	.mu-popular-content-widget .media > .mu-popular-post-img {
		margin-right: 5px;
		width: 75px;
	}

	.mu-sidebar-widget-title {
		font-size: 22px;
	}

	.mu-sidebar-subscribe-widget .mu-subscribe-form input {
		padding: 0 108px 0 15px;
	}

	.mu-sidebar-subscribe-widget .mu-subscribe-btn {
		font-size: 12px;
		width: 100px;
	}

	.mu-error-area .mu-title {
		padding: 0 10%;
	}

	.mu-error-content {
		padding: 0;
	}

}

@media (max-width: 767px) {

	.mu-title {
		margin-bottom: 25px;
		padding: 0;
	}

	.mu-about-right {
		margin-top: 30px;
	}

	#mu-service {
		padding: 60px 0 50px;
	}

	.mu-call-to-action-left {
		max-width: 100%;
	}

	.mu-call-to-action-area {
		padding: 50px 0;
		text-align: center;
	}

	.mu-call-to-action-left h2 {
		margin-bottom: 15px;
	}

	.mu-quote-btn {
		float: none;
		margin-top: 35px;
	}

	.mu-video-right {
		padding: 10% 5%;
		padding-right: 5%;
	}

	.mu-portfolio-area {
		padding: 60px 0;
	}

	.mu-single-service {
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.mu-single-service-content {
		margin-left: 20px;
	}

	.mu-counter-area {
		display: inline;
		float: left;
		padding: 50px 0;
		width: 100%;
	}

	.mu-single-counter {
		margin: 20px 20px;
	}

	#mu-pricing {
		padding: 60px 0;
	}

	.mu-pricing-table > li,
	.mu-pricing-table > li.mu-standard-pricing {
		margin: 10px 0;
		width: 100%;
	}

	.mu-standard-pricing .mu-pricing-single {
		padding: 20px 0;
	}

	.mu-standard-pricing .mu-pricing-single-content {
		padding: 35px 0 15px;
	}

	.mu-standard-pricing .mu-single-pricebox {
		padding: 5px 0 25px;
	}

	#mu-from-blog {
		padding: 60px 0;
	}

	.mu-from-blog-content {
		margin-top: 0;
	}

	.mu-blog-item {
		margin-bottom: 15px;
		margin-top: 15px;
	}

	.mu-footer-top {
		padding: 30px 0 10px;
	}

	.mu-single-footer {
		margin: 15px 0;
	}

	#mu-skills {
		padding: 60px 0;
	}

	.mu-single-skills {
		margin-bottom: 15px;
		margin-top: 15px;
	}

	.mu-team-area {
		padding: 60px 0 50px;
	}

	.mu-single-team-content p {
		font-size: 14px;
	}

	.mu-contact-content {
		padding: 0 15%;
	}

	.mu-google-map {
		height: 350px;
	}

	.mu-blog-sidebar {
		margin-top: 50px;
	}

	.mu-popular-content-widget .media > .mu-popular-post-img {
		margin-right: 10px;
		width: 120px;
	}

	.mu-sidebar-subscribe-widget .mu-subscribe-form input {
		padding: 0 170px 0 20px;
	}

	.mu-sidebar-subscribe-widget .mu-subscribe-btn {
		font-size: 16px;
		width: 160px;
	}

	.mu-error-area .mu-title {
		padding: 0;
	}

	.mu-text {
		font-size: 225px;
		line-height: 225px;
	}

	.mu-backdrop {
		height: 280px;
	}
}

@media (max-width: 640px) {
	.mu-single-slide-content h1 {
		font-size: 25px;
		margin-bottom: 10px;
	}

	.slick-next {
		right: 10px;
	}

	.slick-prev {
		left: 10px;
	}

	.mu-single-slide-content-area {
		padding: 6% 0%;
	}

	.mu-single-slide-content a {
		margin-top: 0;
	}

	.mu-single-slide-content p {
		margin-bottom: 15px;
	}

	.mu-primary-btn {
		font-size: 14px;
		padding: 12px 28px;
	}

	.mu-video-left {
		padding: 120px 0;
	}

	.mu-video-iframe-area {
		padding: 5% 5%;
	}

	.mu-video-iframe-area iframe {
		height: 300px;
	}

	.mu-video-close-btn {
		height: 40px;
		line-height: 35px;
		margin-top: 0;
		top: 5px;
		width: 40px;
	}

	.mu-newsletter-content {
		padding: 0;
	}

	.mu-single-counter {
		margin: 20px 0;
	}

	.mu-contact-content {
		padding: 0 5%;
	}

	.mu-google-map {
		height: 300px;
	}

}

@media (max-width: 480px) {
	.ReactModal__Content {
		max-width: 450px;
		min-width: 360px;
	}

	.mu-single-slide-content a.mu-primary-btn {
		display: none;
	}

	.mu-single-counter span {
		float: none;
	}

	.mu-single-counter-content {
		display: inline-block;
		float: none;
	}

	.mu-title h2 {
		font-size: 25px;
		margin-bottom: 10px;
	}

	.mu-call-to-action-left h2 {
		font-size: 20px;
	}

	.mu-filter-item-content {
		font-size: 18px;
		padding-top: 29%;
	}

	.filtr-item h4 {
		font-size: 18px;
	}

	.mu-testimonials-area h2 {
		font-size: 25px;
	}

	.mu-testimonials-block {
		margin-top: 20px;
	}

	.mu-testimonial-slide li p {
		font-size: 15px;
	}

	.mu-testimonials-area {
		padding: 50px 0 50px;
	}

	.mu-subscribe-btn {
		font-size: 16px;
	}

	.mu-video-play-btn {
		font-size: 16px;
		height: 40px;
		line-height: 40px;
		width: 60px;
	}

	.slick-next,
	.slick-prev {
		height: 40px;
		width: 40px;
	}

	.slick-prev::before,
	.slick-next::before {
		font-size: 20px;
	}

	.scrollToTop {
		font-size: 25px;
		height: 45px;
		line-height: 43px;
		width: 45px;
	}

	.mu-navbar {
		padding: 10px 0;
	}

	.mu-navbar .navbar-toggler {
		padding: 5px 10px;
	}

	.mu-page-header-area {
		padding: 80px 0;
	}

	.mu-page-header-title {
		font-size: 30px;
	}

	.mu-google-map {
		height: 250px;
	}

	#mu-blog {
		padding: 30px 0;
	}

	#mu-blog .mu-blog-item {
		margin-bottom: 30px;
	}

	.mu-blog-pagination .pagination .page-link {
		font-size: 16px;
		height: 35px;
		line-height: 33px;
		width: 35px;
	}

	.mu-blog-pagination .pagination .page-item:first-child .page-link,
	.mu-blog-pagination .pagination .page-item:last-child .page-link {
		line-height: 38px;
	}

	.mu-blog-pagination .pagination {
		float: none;
	}

	.mu-blog-sidebar {
		margin-top: 30px;
	}

	.mu-sidebar-social-widget .mu-social-media a {
		font-size: 16px;
		height: 35px;
		line-height: 35px;
		width: 35px;
	}

	.mu-error-area {
		padding: 50px 0;
	}

	.mu-text {
		font-size: 180px;
		line-height: 180px;
	}

	.mu-backdrop {
		height: 230px;
	}
}
@media (max-width: 360px) {
	.ReactModal__Content {
		max-width: 320px;
		min-width: 300px;
	}

	.mu-single-slide-content h1 {
		font-size: 18px;
		margin-bottom: 5px;
	}
	.mu-single-slide-content p {
		font-size: 12px;
		margin-bottom: 0;
	}
	.mu-title h2 {
		font-size: 22px;
	}
	.mu-video-iframe-area {
		padding: 15% 5%;
	}
	.mu-video-right p {
		font-size: 16px;
		text-align: center;
	}
	.mu-filter-item-content {
		padding-top: 26%;
	}
	.mu-subscribe-form input {
		padding: 0 130px 0 20px;
	}
	.mu-subscribe-btn {
		font-size: 14px;
		width: 120px;
	}
	.mu-testimonial-slide .slick-next {
		right: 0;
	}
	.mu-testimonial-slide .slick-prev {
		left: 0;
	}
	.mu-single-team {
		padding: 10px 0;
		text-align: center;
	}
	.mu-single-team-img,
	.mu-single-team-content {
		width: 100%;
	}
	.mu-blog-pagination .pagination li {
		margin: 0 3px;
	}
	.mu-popular-content-widget .media {
		margin-bottom: 15px;
	}
	.mu-popular-content-widget .media > .mu-popular-post-img {
		margin-right: 5px;
		width: 85px;
	}
	.mu-sidebar-subscribe-widget .mu-subscribe-form input {
		padding: 0 135px 0 15px;
	}
	.mu-sidebar-subscribe-widget .mu-subscribe-btn {
		font-size: 16px;
		width: 125px;
	}
	#respond input[type="text"],
	#respond input[type="email"],
	#respond input[type="url"] {
		height: 35px;
		margin-bottom: 5px;
		padding: 0 5px;
		width: 100%;
	}
	#respond textarea {
		height: 150px;
		padding: 10px;
	}
	.mu-related-post .mu-related-post-title {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.mu-comments-area h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.mu-comments-area .comments .commentlist .children {
		padding-left: 15px;
	}
	#respond .reply-title {
		font-size: 22px;
		margin-bottom: 20px;
		padding-bottom: 5px;
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 25px;
		line-height: 1.13;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 14px;
	}
	.mu-text {
		font-size: 160px;
		line-height: 160px;
	}
	.mu-backdrop {
		height: 200px;
	}
}

@media (max-width: 320px) {
	.ReactModal__Content {
		max-width: 300px;
		min-width: 300px;
	}
	.mu-single-slide-content-area {
		padding: 2% 0%;
	}

	.mu-filter-item-content {
		padding-top: 24%;
	}
}
