.services {
	display: inline;
	float: left;
	margin: 0 auto;
	width: 100%;
	.about-service {
    margin: 0 auto;
    padding: 25px 40px;
		.service-block {
			border: 1px solid $pure-blue;
      border-radius: 10px;
      min-height: 290px;
      .title-service {
        background-color: $gray-light-2;
        border-bottom: 1px solid $pure-blue;
        border-radius: 10px 10px 0 0 ;
        padding: 10px 0;
        text-align: center;
      }

      .description-service {
        padding: 10px;
        text-align: center;
      }

      .btn-use-service {
        text-align: center;
        button {
          background-color: $white;
          border: 1px solid $pure-blue;
          border-radius: 5px;
          padding: 8px 70px;
          &:hover {
            background-color: $pure-blue;
            color: $white;
            cursor: pointer;
          }
        }
      }
    }
	}
}
