.services {
	display: inline;
	float: left;
	margin: 0 auto;
	width: 100%;
	.about-service {
    margin: 0 auto;
    padding: 25px 40px;
		.service-block {
			border: 1px solid $pure-blue;
      border-radius: 10px;
      min-height: 290px;
      .title-service {
        background-color: $gray-light-2;
        border-bottom: 1px solid $pure-blue;
        border-radius: 10px 10px 0 0 ;
        padding: 10px 0;
        text-align: center;
      }

      .description-service {
        padding: 10px;
        text-align: center;
      }

      .btn-use-service {
        text-align: center;
        button {
          background-color: $white;
          border: 1px solid $pure-blue;
          border-radius: 5px;
          padding: 8px 70px;
          &:hover {
            background-color: $pure-blue;
            color: $white;
            cursor: pointer;
          }
        }
      }
    }
	}
}

#mu-service {
	display: inline;
	float: left;
	padding: 15px 50px;
	width: 100%;
}

.mu-service-area {
	display: inline;
	float: left;
	width: 100%;
}

.mu-service-content {
	display: inline;
	float: left;
	width: 100%;
}

.mu-single-service {
	display: inline;
	float: left;
	margin-bottom: 35px;
	margin-top: 35px;
	width: 100%;
}

.mu-single-service-icon {
	background-color: $pure-blue;
	border-radius: 50%;
	color: $white;
	display: inline;
	float: left;
	font-size: 18px;
	height: 48px;
	line-height: 48px;
	margin-right: 20px;
	text-align: center;
	width: 48px;
}

.mu-single-service-content {
	display: inline;
	float: left;
	width: 80%;
}

.mu-single-service-content h3 {
	color: $gray-dark-4;
	font-size: 18px;
	text-transform: uppercase;
}

.mu-single-service-content p {
	font-size: 14px;
}
