@keyframes loading1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading2 {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

.spinner-wrapper {
  left: 35%;
  position: absolute;
  top: 15%;
}

div.spinner-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    color: $strong-blue-5;
    font-family: 'Pacifico', cursive;
    font-size: 100px;
  }
}

.loading {
  margin-left: -13%;
  margin-top: 20px;
}

.l1 {
  animation: loading1 1s 0s infinite ease-in-out;
  background: $strong-blue-5;
  height: 7px;
  margin: 13px;
  width: 60px;
}

.l2 {
  @extend .l1;
  animation: loading2 .5s 0s infinite ease-in-out alternate;
}

.l3 {
  @extend .l1;
  animation: loading1 1s 0s infinite ease-in-out reverse;
}
