.mu-vacancies {
	background-color: $light-reddish-gray;
	display: inline;
	float: left;
	margin-bottom: 50px;
	width: 100%;
}

.mu-vacancies-area {
	display: inline;
	float: left;
	padding: 0;
	width: 100%;
	.mu-vacancies-search {
		align-items: center;
		background-color: $strong-blue-1;
		display: flex;
		height: 110px;
		justify-content: space-evenly;
		margin: 40px auto;
		span {
			color: $white;
			font-size: 23px;
		}
		input {
			border: 0;
			border-radius: 2px;
			padding: 8px;
			width: 27%;
		}
		button {
			background-color: $luminous-vivid-orange;
			color: $white;
			font-size: 22px;
			padding: 5px 75px;
			&::before {
				background: url('../images/search_ico_sm.png') no-repeat 0 0;
		    content: '';
		    display: inline-block;
		    height: 14px;
		    margin: 0 10px 0 0;
		    width: 14px;
			}
		}
	}
	.main {
		.mu-filter {
			padding: 0 30px 0 0;
			.filter-salary {
				color: $black;
				font-size: 18px;
			}
			.block-salary {
				background-color: $white;
				padding: 10px 25px;
				input {
					width: 100%;
        }
        .apply {
          text-align: center;
          button {
            background: none;
            border: 1px solid $pure-blue;
            border-radius: 3px;
            color: $pure-blue;
            font-size: 12px;
            height: 30px;
            padding: 0 10px;
            &::after {
              background: url('../images/select-small.png') no-repeat 0 0;
              background-position: 0 -9px;
              content: '';
              display: inline-block;
              height: 7px;
              margin-left: 5px;
              width: 9px;

            }
            &:hover {
              background-color: #0288d1;
              background-image: -moz-linear-gradient( -35deg, #0288d1 75%, #289ad8 75%);
              background-image: -webkit-linear-gradient( -35deg, #0288d1 75%, #289ad8 75%);
              background-image: -ms-linear-gradient( -35deg, #0288d1 75%, #289ad8 75%);
              border: 0;
              color: #fff;
              line-height: 30px;
              padding: 0 11px;
            }
          }
        }
			}
			.filter-experience-block {
				margin-top: 30px;
				.filter-experience {
					background-color: $white;
					height: 80px;
					padding: 10px 25px;
				}
			}
			.filter-sex-block {
				margin-top: 30px;
				.filter-sex {
					background-color: $white;
					padding: 10px 25px;
				} 
			}
			.filter-age-block {
				margin-top: 30px;
				.filter-age {
					background-color: $white;
					padding: 10px 25px;
				} 
			}
			.filter-country-block {
				margin-top: 30px;
				.filter-country {
					background-color: $white;
					padding: 10px 25px;
				}
			}
			.filter-service-block {
				margin-top: 30px;
				.filter-service {
					background-color: $white;
					padding: 10px 25px;
				} 
			}
		}
		.bread-dote {
			background-color: $medium-gray;
		}
		.how-vacancies {
			background-color: $white;
			padding: 2px 25px;
			.city-work {
				color: $gray-dark-4;
				font-size: 25px;
			}
			.mean-works {
				color: $gray-dark-4;
				font-size: 18px;
				margin-right: 10px;
			}
			.mean-salary {
				color: $gray-dark-4;
				font-size: 18px;
				margin-left: 10px;
			}
		}
		.mu-vacancy {
			background-color: $white;
			border-radius: 3px;
			box-shadow: 0 2px 1px 0 ;
      padding: 7px 15px 10px;
      &.vacancy-hot {
				background-color: $yellowish-white;
				box-shadow: 0 2px 10px 0 $rgb-02;
				cursor: pointer;
      }
			.title-vacancy {
				color: $strong-blue-2;
				font-size: 25px;
				line-height: 1.1;
				margin: 5px 0;
			}
			.title-company {
				color: inherit;
				font-size: 18px;
				margin-bottom: 5px;
				&::before {
					background: url('../images/house.png') no-repeat 0 0;
			    content: '';
			    display: inline-block;
			    height: 14px;
					margin: 0 5px -2px 0;
			    width: 12px;
				}
			}
			.desc {
				font-size: 13px;
			}
			.send-friend {
				font-size: 13px;
			}
			.salary {
				color: $strong-blue-2;
				font-size: 25px;
				margin: 0;
			}
			.city {
				font-size: 14px;
				height: 90px;
				&::before {
					background: url('../images/location_mini.png') no-repeat 0 0;
			    content: '';
			    display: inline-block;
			    height: 14px;
					margin: 0 10px -2px 0;
			    width: 9px;
				}
			}
			button {
				background-color: $luminous-vivid-orange;
				color: $white;
				font-size: 13px;
				padding: 5px 0;
				text-transform: uppercase;
				width: 100%;
				&::after {
					background: url('../images/arrow_long.png') no-repeat 0 0;
			    content: '';
			    display: inline-block;
			    height: 12px;
			    margin-bottom: -1px;
			    margin-left: 5px;
			    width: 13px;
				}
			}
			.date-added {
				color: $medium-gray;
				font-size: 12px;
			}
			&:hover {
				background-color: $yellowish-white;
				box-shadow: 0 2px 10px 0 $rgb-02;
				cursor: pointer;
			}
		}
	}
}

.mu-filter {
	display: inline;
	float: left;
	padding-right: 15px;
	width: 100%;
}

.mu-vacancies-block {
	display: inline;
	float: left;
	padding-left: 15px;
	width: 100%
}

.mu-about-right ul li {
	float: left;
	list-style: none;
	margin-bottom: 25px;
}

.mu-about-right ul li h3 {
	border-bottom: 3px solid $light-gray;
	color: $gray-dark-4;
	display: inline-block;
	font-size: 20px;
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.mu-about-right p {
	font-size: 14px;
}

.horizontal-line {
	background-color: $strong-blue-1;
	height: 1px;
	margin: 50px auto;
	opacity: .3;
	width: 80%;
}

.horizontal-line-about {
	background-color: $strong-blue-1;
	height: 1px;
	margin: -50px auto;
	opacity: .3;
	width: 80%;
}
