#mu-vacancies {
	background-color: #e0dbdb;
	display: inline;
	float: left;
	margin-bottom: 50px;
	width: 100%;
}

.mu-vacancies-area {
	display: inline;
	float: left;
	padding: 0;
	width: 100%;
	.mu-vacancies-search {
        align-items: center;
        background-color: $strong-blue-1;
        display: flex;
        height: 110px;
        justify-content: space-evenly;
        margin: 40px auto;
        span {
            color: $white;
			font-size: 23px;
        }

        input {
            border: 0;
            border-radius: 2px;
			padding: 8px;
			width: 27%;
		}
		button {
			background-color: #ffa500;
			color: $white;
			font-size: 22px;
			padding: 5px 60px;
		}
	}
	.main {
		.mu-filter {
			
		}
		.bread-dote {
			background-color: #808080;
		}
		.how-vacancies {
			background-color: $strong-blue-2;
			padding: 20px 25px 25px;
		}
		.mu-vacancy {
			background-color: #fff;
			border-radius: 3px;
			box-shadow: 0 2px 1px 0 rgba(0,0,0,0.1);
			height: 200px;
			padding: 7px 15px 10px;
			.title-vacancy {
				color: $strong-blue-2;
				font-size: 25px;
				line-height: 1.1;
				margin-bottom: 10px;
			}
			.desc {
				font-size: 13px;
			}
			.send-friend {
				font-size: 13px;
			}
			.salary {
				color: $strong-blue-2;
				font-size: 25px;
				margin: 0;
			}
			.city {
				font-size: 14px;
				height: 80px;
			}
			button {
				background-color: #ffa500;
				color: $white;
				font-size: 13px;
				padding: 5px 20px;
				text-transform: uppercase;
			}
			.date-added {
				color: #808080;
				font-size: 12px;
			}
			&:hover {
				background-color: #fffed7;
				box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
				cursor: pointer;
			}
		}
	}
}

.mu-filter {
	display: inline;
	float: left;
	padding-right: 15px;
	width: 100%;
}

.mu-vacancies-block {
	display: inline;
	float: left;
	padding-left: 15px;
	width: 100%
}

.mu-about-right ul li {
	float: left;
	list-style: none;
	margin-bottom: 25px;
}

.mu-about-right ul li h3 {
	border-bottom: 3px solid #e5e5e5;
	color: #323232;
	display: inline-block;
	font-size: 20px;
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.mu-about-right p {
	font-size: 14px;
}

.horizontal-line {
	background-color: $strong-blue-1;
	height: 1px;
	margin: 50px auto;
	opacity: .3;
	width: 80%;
}

.horizontal-line-about {
	background-color: $strong-blue-1;
	height: 1px;
	margin: -50px auto;
	opacity: .3;
	width: 80%;
}
