//color
$white: #fff;
$strong-blue-1: #1c85c4;
$strong-blue-2: #0277bd;
$strong-blue-3: #3b5998;
$strong-blue-5: #004f7f;
$pure-blue: #0091ea;
$soft-red: #ee6e73;
$gray-light-1: #f8f8f8;
$gray-light-2: #eee;
$gray-light-3: #ddd;
$gray-dark-1: #666;
$gray-dark-2: #2f2f2f;
$gray-dark-3: #333;
$gray-dark-4: #323232;
