#mu-contact {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-contact-area {
	display: inline;
	float: left;
	padding: 100px 0;
	text-align: center;
	width: 100%;
}

.mu-contact-content {
	display: inline;
	float: left;
	padding: 0 28%;
	width: 100%;
}

.mu-contact-form-area {
	display: inline;
	float: left;
	width: 100%;
}

.mu-contact-form {
	text-align: center;
}

.mu-contact-form .form-group {
	position: relative;
}

.mu-contact-form .mu-contact-icon {
	color: #0091ea;
	font-size: 14px;
	left: 5px;
	position: absolute;
	top: 15px;
}

.mu-contact-form .form-group input {
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	background: transparent;
	border: 1px #ccc;
	border-radius: 0;
	border-style: none none solid none;
	color: #333;
	font-size: 14px;
	height: 45px;
	margin-bottom: 24px;
	padding: 0 25px;
	transition: all 0.5s;
}

.mu-contact-form .form-group textarea {
	-webkit-transition: all 0.5s;
	background: transparent;
	border: 1px #ccc;
	border-radius: 0;
	border-style: none none solid none;
	color: #333;
	font-size: 14px;
	height: 100px;
	padding: 13px 25px;
	padding: 10px;
	transition: all 0.5s;
}

.mu-contact-form .form-control:focus {
	background-color: #fff;
	border-style: none none solid none;
    box-shadow: none;
    outline: 0;
}

.mu-contact-form .form-control::-webkit-input-placeholder {
	color: #7e7e7e;
	font-size: 14px;
}

.mu-contact-form .form-control:-moz-placeholder { /* Firefox 18- */
	color: #7e7e7e;
	font-size: 14px;
}

.mu-contact-form .form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #7e7e7e;
	font-size: 14px;
}

.mu-contact-form .form-control:-ms-input-placeholder {
	color: #7e7e7e;
	font-size: 14px;
}

.mu-contact-form .button-default::after,
.mu-contact-form .button-default > span {
	padding: 12px 40px;
}

#form-messages {
	background-color: #fff;
    margin-bottom: 10px;
}

.success {
	-webkit-border-radius: 4px;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	border-radius: 4px;
	color: #468847;
	margin-bottom: 0.75rem;
	padding: 1em;
	      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.error {
	-webkit-border-radius: 4px;
	background-color: #f2dede;
	border: 1px solid rgba(185, 74, 72, 0.3);
	border-radius: 4px;
	color: #b94a48;
	margin-bottom: 0.75rem;
	padding: 1em;
	      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
