#mu-counter {
	// background-image: url("assets/images/counter-bg.jpg");
	background-size: cover;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

#mu-counter::before {
	background-color: #0091ea;
	bottom: 0;
	content: '';
	left: 0;
	opacity: 0.65;
	position: absolute;
	right: 0;
	top: 0;
}

.mu-counter-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-counter-area h2 {
	color: #fff;
	text-align: center;
}

.mu-counter-block {
	display: inline;
	float: left;
	width: 100%;
}

.mu-single-counter {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-single-counter span {
	border-right: 1px solid #fff;
	color: #fff;
	display: inline-block;
	float: left;
	font-size: 40px;
	margin-bottom: 0;
	padding: 32px 20px;
}

.mu-single-counter-content {
	display: inline;
	float: left;
	padding-left: 20px;
	padding-top: 16px;
	text-align: left;
}

.counter-value {
	color: #fff;
	font-family: 'Helvetica', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0;
}


.mu-counter-name {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}
